html {
  background: turquoise
}
.App {
  text-align: center;
  width:800px;
  margin: -0 auto;
}

.quotes-container {
  width:800px;
  margin: 0 auto;
}

.quote-card {
  border: 1px solid black;
  margin: 1% auto;
  border-radius:10px;
  padding:20px;
  background:rebeccapurple;
  color:white;
  transition:.4s;
  box-shadow:4px 4px 4px #888888;
}

.quote-card:hover {
  transform:scale(1.03);
  box-shadow:6px 6px 6px #888888;
}

.mike-pic {
  border-radius:20px;
  box-shadow: 5px 5px 5px #888888;
  width:60%;
  transition:.4s;
}

.mike-pic:hover {
  transform: scale(1.03);
  box-shadow: 8px 8px 8px #888888;
}

nav {
  background:rebeccapurple;
  width:40%;
  padding:10px;
  display:flex;
  justify-content:space-around;
  margin: 0 auto;
  border-radius:10px;

}

nav a {
  text-decoration:none;

  background:white;
  padding:5px;
  border-radius:5px;
  font-weight:bold;
  width:25%;
}

a {
  text-decoration:none;
}
a:active {
  color:white;
}

.big-quote-card {
  width:80%;
  color:white;
  background:rebeccapurple;
  font-size:2.3rem;
  padding:20px;
  margin: 1% auto;
  margin-top:3%;
  border-radius:20px;
  display:flex;
  justify-content:center;
  flex-direction:column;

}

input {
  margin-top: 10px;
  background:none;
  border:none;
  border-bottom:2px solid black;
  width: 30%;
  color:black; 
  transition:.4s;
}

input:focus {
  outline:none;
  transition:.2s;
  border-bottom: 2px solid grey;
}

input:focus ::placeholder {
  color:grey;
}

::placeholder {
  color:darkslategray;
}

.search-label {
  padding:0;
  margin:2% auto;
  line-height:0;
}